@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/wallpaper.jpg');

  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.list-group-item {
  .card-title {
    cursor: pointer;
  }
  .card-collapse {
    overflow: hidden;
    transition: height 0.5s ease-out;
  }
  h2 {margin-top: 5px !important;}
}
